body{
  background-image: url(../assets/imagens/default/dirt_fundo.png);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.menu{
  width:100%;
  display:flex;
  justify-content: space-between;
}
.entrar{
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.entrar>p>a{
  color:white;
  text-decoration: none;
  border-bottom: solid 2px white;
  padding:2px;
}
.entrar>p>a:hover{
  color:rgb(64, 140, 64);
  border-bottom: solid 2px rgb(64, 140, 64) ;
  transition:color 500ms, border-bottom 500ms;
}


#logo{
  width: 350px;
  margin-left: 10px;
  margin-top: 10px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.texto{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 30px;
}

.Corpo{
  background-color: black;
  opacity: 0.8;
  width: 101%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border-radius: 5px;
  height: 500px;
 
}
.scroll{
  width: 60%;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  height: 30px;
  width: 10px;
}

::-webkit-scrollbar-track{
  box-shadow: 0 0 2px #969696;
}

::-webkit-scrollbar-thumb{
  background-color: white;
}

.Modo1{
  display: flex;
  align-items: center;
  margin-block: 10px;
  margin-right: 30px;
  border-radius: 5px;
}

.Modo1:hover{
  opacity: 0.5;
  transition: 0.3s;  
  border: inset  4px;

}

.img1{
  width: 80px;  
  margin-left: 30px;
  margin-right: 40px;
}

.img2{
    width: 80px;  
    margin-left: 30px;
    margin-right: 40px;
}

.img3{
  width: 80px;  
  margin-left: 30px;
  margin-right: 40px;
}

.img4{
  width: 80px;  
  margin-left: 30px;
  margin-right: 40px;
}

.img5{
  width: 80px;  
  margin-left: 30px;
  margin-right: 40px;
}

.botao{

  /* fica flexivel */
  display: flex;
  /* centraliza a div */
  justify-content: center;
  /* alinha os itens que estao dentro da div */
  align-items: center;
  margin-top: 35px;
  box-shadow: 3px 5px 7px rgba(70, 67, 71, 0.27),
  13px 21px 30px rgba(70, 67, 71, 0.20),
  29px 48px 67px rgba(70, 67, 71, 0.14),
  51px 85px 119px rgba(70, 67, 71, 0.07);
  
}

p{
  margin-block: 5px;
}
.titulo{
  color: white;
  font-size: 41px;
  font-weight: bolder;
}
.descrição{
  color: #bab5b5;
  margin-right: 13px;
  margin-bottom: 1px;
  font-size: 30px;
}

#game-select-gui{
  margin:30px;
  display:grid;
  grid-template-columns: 1fr 1fr;
 
}

#game-select-gui>div{
  margin:5px 10px 5px 10px;
  width:95%;

}

#game-select-gui>div button{
  width:100%;
}