html {
  font-family: Minecraftia;
  text-align: center;
  background-image: url(../assets/imagens/default/dirt_fundo.png);
}
body{
  color: #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu{
  width:100%;
  display:flex;
  justify-content: space-between;
  padding-bottom: 25px;

}
#minedle{
  width: 300px;
  padding: 25px;
}
#minedle:hover{
  content:url(../assets/imagens/default/logo-portal.png);
  width: 300px;
  padding: 25px;
}
.entrar{
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.fundo{
  margin:25px 0px 80px 0px;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
  width:100vw;
}

.titulo>h1{
  margin:0px;
}

.conteudo{
  width:1000px;
  max-height:580px;
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.side_1{
  margin:30px 0px;
  width:60%
}

.user{
  display:flex;
  flex-direction: column;
  align-items: left;
  margin: 20px 0px;
}

.user-title{
  text-align: left;
}

.user-title>h2{
  margin-top:10px;
  margin-bottom: 20px;
}
.user-info{
  display:flex;
  flex-direction: row;
}

.user-icon-info{
  margin:0px 10px;
}

.user-icon{
  width:80px;
  height:80px;
}

.user-id{
  display:flex;
  flex-direction: column;
  margin:0px 30px;
}

.user-name{
  display:flex;
  flex-direction: column;
  text-align: left;
}

.user-name>*{
  margin:5px 0px;
}

.user-email{
  display:flex;
  flex-direction: column;
  text-align: left;
}

.user-email>*{
  margin:5px 0px;
}

.stats{
  display:flex;
  flex-direction: column;
  align-items: left;
}

.stats-title{
  text-align: left;
}

.stats-title>h2{
  margin: 10px 0px;
}

.stats-grid{
  max-height: 160px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-y: scroll;
}

.stats-grid-el{
  border:solid 5px #dedede;
  background-color: rgba(35,35,35,1);
  margin: 5px 20px;
}

.stats-grid-el>*{
  margin:10px 0px;
}

.side_2{
  margin:37px 0px;
  width:30%
}

.user-settings{
  display:flex;
  flex-direction: column;
}

.button{
  font-size:14px;
  margin: 5px 0px;
  padding: 8px 0px;
  color: #dedede;
  width: 85%;
  border:solid 3px;
  border-image: url(../assets/imagens/mobs/bt_vazio.png);
  border-image-slice: 8 9 8 9 fill;
}

.button:hover{
  cursor:pointer;
  filter:brightness(90%);
} 
.button:active{
  border:solid 3px;
  border-image: url(../assets/imagens/mobs/bt_vazio-click.png);
  border-image-slice: 8 9 8 9 fill;
  filter:brightness(100%);

} 

.modal{
  visibility: hidden;
  color:#dedede;
  display:flex;
  flex-direction: column;
  align-items:stretch;
  overflow: scroll;
  position:Fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border: #dedede 10px ridge;
  background-color: rgb(17, 16, 16);
  z-index: 20;
  width:700px;
  max-width:60%;
  height:fit-content;
  max-height: 400px;
}

.pass-change{
  position: relative;
  margin:5% 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon-int-data{
  position: relative;
  margin:auto auto 5% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.icon-int-end{
  position: relative;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin:7%;
}



#confirm{
  color:#dedede;
  width:35%;
  padding:10px;
  object-fit:contain;
  border:solid 3px;
  border-image: url(../assets/imagens/mobs/bt_vazio.png);
  border-image-slice: 8 9 8 9 fill;

}

#confirm:hover{
  cursor:pointer;
  filter:brightness(90%);
} 
#confirm:active{
  border:solid 3px;
  border-image: url(../assets/imagens/mobs/bt_vazio-click.png);
  border-image-slice: 8 9 8 9 fill;
  filter:brightness(100%);
} 

#cancel{
  width:36%;
  padding:10px;
  color:#dedede;
  object-fit:contain;
  border:solid 3px;
  border-image: url(../assets/imagens/mobs/bt_vazio.png);
  border-image-slice: 8 9 8 9 fill;
}

#cancel>p{
  color:#dedede;
  margin:0;
}

#cancel:hover{
  cursor:pointer;
  filter:brightness(90%);
} 
#cancel:active{
  border:solid 3px;
  border-image: url(../assets/imagens/mobs/bt_vazio-click.png);
  border-image-slice: 8 9 8 9 fill;
  filter:brightness(100%);
} 

.overlay{
  visibility: hidden;
  position:fixed;
  background-color: rgba(0,0,0,0.3);
  left:0;
  bottom: 0;
  right: 0;
  top: 0;
}

.open{
  visibility: visible;
}

.inputt{
  color:white;
  box-sizing: border-box;
  width:100%;
  padding:5px;
  height: 50px;
  border: 5px inset #827a85;
  background-color: #40562f;
}

.erro{
  color:rgb(177, 30, 30);
  font-size:12px;
  transition:color 250ms;
}

ul{
  display: flex;
  flex-direction: column;
  align-content: center;
  width:50%;
  list-style-type: none;
  padding: 0px;
  margin-bottom: 0px;
}

ul>div{
  width:50%;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

ul>li>div>p{
  margin:0px 0px 16px 0px;
  text-align: left;
}
